altgraph
certifi
chardet
click
EasyProcess
Flask
Flask-Script
Flask-SQLAlchemy
future
gunicorn
idna
itsdangerous
Jinja2
macholib
MarkupSafe
olefile
pefile
Pillow
pygeoip
PyInstaller
pyscreenshot
requests
SQLAlchemy
urllib3
Werkzeug
pynput
opencv-python
pypiwin32

Flask-Script
pygeoip

numpy
pyscreenshot
image
